/* Watchlist items, tables, lists, etc. */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table,
th,
td {
  border: 1px solid #d3f3ee60;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  color: #d3f3ee;
}

ul {
  list-style: disc inside;
  margin: 0.5rem 0 1rem 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}
