<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspireLink</title>
    <!-- FullCalendar CSS/JS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"
    ></script>
    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='styles/base.css') }}"
    />
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <!-- main nav -->
    <nav class="main-nav" id="main-nav">
      <h1>AspireLink</h1>
      <ul>
        {% if user %}
          <li><a href="{{ request.url_for('dashboard') }}">Dashboard</a></li>
          <li>
            <a href="{{ request.url_for('show_matching_internships') }}">Internships</a>
          </li>
          <li><a href="{{ request.url_for('display_watchlist') }}">Watchlist</a></li>
          {% if dashboard %}
            <li><a href="#calendar-container">Check‑Ins</a></li>
            <li><a href="#reminders">Reminders</a></li>
          {% endif %}
          <li><a href="{{ request.url_for('logout') }}">Logout</a></li>
        {% else %}
          <li>
            <a href="{{ request.url_for('show_register_form') }}">Register</a>
          </li>
          <li><a href="{{ request.url_for('display_login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- form container -->
    <div class="form-container">{% block form %}{% endblock %}</div>

    {% block dashboard %}{% endblock %}

    <!-- content container -->
    <div class="content-container">{% block content %}{% endblock %}</div>

    <!-- footer -->
    <footer class="footer">
      <p>
        &copy; {{ current_year }} AspireLink — All rights reserved.
      </p>
    </footer>

    {% block scripts %}{% endblock %}

    {# Remove navbar border on scroll #}
    <script>
      const nav = document.getElementById('main-nav');

      window.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
          nav.style.borderBottom = 'none';
        } else {
          nav.style.borderBottom = '1px solid #d3f3ee50';
        }
      });
    </script>

  </body>
</html>
